body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #231F20;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 400px;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 5vh; /* Additional top padding for overall layout adjustment */
    padding-bottom: 5vh;
}

.version {
    font-size: 13px;
    color: white;
    text-align: right;
    width: 100%;
    margin-bottom: 4vh; /* Approx. 2 line breaks */
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffc107;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10vh; /* Approx. 4 line breaks */
}

.logo img {
    width: 140px;
    margin-right: 8px;
}

.welcome-message {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 6vh; /* Approx. 3 line breaks */
}

.open-account,
.login {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

.open-account {
    background-color: #FFC107;
    color: #1A1A1A;
    font-weight: bold;
}

.login {
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    width: 100%;
    padding-bottom: 20px;
    margin-top: auto;
}

.footer a {
    color: #FFC107;
    text-decoration: none;
}

.forgot-pin {
    color: #FFC107;
}

.contact-us {
    color: #FFFFFF;
}

.contact-us span {
    color: #FFC107;
        }
